<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>frames</key>
    <dict>
        <key>effect/skill_effect/1/attack1/6.png</key>
        <dict>
            <key>frame</key>
            <string>{{2,2},{335,173}}</string>
            <key>offset</key>
            <string>{-15,58}</string>
            <key>rotated</key>
            <true/>
            <key>sourceColorRect</key>
            <string>{{80,118},{335,173}}</string>
            <key>sourceSize</key>
            <string>{525,525}</string>
        </dict>
        <key>effect/skill_effect/1/attack1/7.png</key>
        <dict>
            <key>frame</key>
            <string>{{179,2},{335,173}}</string>
            <key>offset</key>
            <string>{-15,58}</string>
            <key>rotated</key>
            <true/>
            <key>sourceColorRect</key>
            <string>{{80,118},{335,173}}</string>
            <key>sourceSize</key>
            <string>{525,525}</string>
        </dict>
        <key>effect/skill_effect/1/attack1/8.png</key>
        <dict>
            <key>frame</key>
            <string>{{2,341},{335,173}}</string>
            <key>offset</key>
            <string>{-15,58}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{80,118},{335,173}}</string>
            <key>sourceSize</key>
            <string>{525,525}</string>
        </dict>
        <key>effect/skill_effect/1/attack1/9.png</key>
        <dict>
            <key>frame</key>
            <string>{{2,518},{335,173}}</string>
            <key>offset</key>
            <string>{-15,58}</string>
            <key>rotated</key>
            <true/>
            <key>sourceColorRect</key>
            <string>{{80,118},{335,173}}</string>
            <key>sourceSize</key>
            <string>{525,525}</string>
        </dict>
        <key>effect/skill_effect/1/attack1/10.png</key>
        <dict>
            <key>frame</key>
            <string>{{179,518},{335,173}}</string>
            <key>offset</key>
            <string>{-15,58}</string>
            <key>rotated</key>
            <true/>
            <key>sourceColorRect</key>
            <string>{{80,118},{335,173}}</string>
            <key>sourceSize</key>
            <string>{525,525}</string>
        </dict>
        <key>effect/skill_effect/1/attack1/11.png</key>
        <dict>
            <key>frame</key>
            <string>{{341,341},{335,173}}</string>
            <key>offset</key>
            <string>{-15,58}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{80,118},{335,173}}</string>
            <key>sourceSize</key>
            <string>{525,525}</string>
        </dict>
        <key>effect/skill_effect/1/attack1/12.png</key>
        <dict>
            <key>frame</key>
            <string>{{356,2},{333,173}}</string>
            <key>offset</key>
            <string>{-14,58}</string>
            <key>rotated</key>
            <true/>
            <key>sourceColorRect</key>
            <string>{{82,118},{333,173}}</string>
            <key>sourceSize</key>
            <string>{525,525}</string>
        </dict>
        <key>effect/skill_effect/1/attack1/13.png</key>
        <dict>
            <key>frame</key>
            <string>{{533,2},{333,173}}</string>
            <key>offset</key>
            <string>{-14,59}</string>
            <key>rotated</key>
            <true/>
            <key>sourceColorRect</key>
            <string>{{82,117},{333,173}}</string>
            <key>sourceSize</key>
            <string>{525,525}</string>
        </dict>
        <key>effect/skill_effect/1/attack1/14.png</key>
        <dict>
            <key>frame</key>
            <string>{{680,339},{333,173}}</string>
            <key>offset</key>
            <string>{-15,59}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{81,117},{333,173}}</string>
            <key>sourceSize</key>
            <string>{525,525}</string>
        </dict>
        <key>effect/skill_effect/1/attack1/15.png</key>
        <dict>
            <key>frame</key>
            <string>{{710,2},{329,173}}</string>
            <key>offset</key>
            <string>{-13,59}</string>
            <key>rotated</key>
            <true/>
            <key>sourceColorRect</key>
            <string>{{85,117},{329,173}}</string>
            <key>sourceSize</key>
            <string>{525,525}</string>
        </dict>
        <key>effect/skill_effect/1/attack1/16.png</key>
        <dict>
            <key>frame</key>
            <string>{{680,516},{327,173}}</string>
            <key>offset</key>
            <string>{-12,59}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{87,117},{327,173}}</string>
            <key>sourceSize</key>
            <string>{525,525}</string>
        </dict>
        <key>effect/skill_effect/1/attack1/17.png</key>
        <dict>
            <key>frame</key>
            <string>{{356,518},{273,171}}</string>
            <key>offset</key>
            <string>{15,58}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{141,119},{273,171}}</string>
            <key>sourceSize</key>
            <string>{525,525}</string>
        </dict>
        <key>effect/skill_effect/1/attack1/18.png</key>
        <dict>
            <key>frame</key>
            <string>{{2,857},{267,157}}</string>
            <key>offset</key>
            <string>{12,56}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{141,128},{267,157}}</string>
            <key>sourceSize</key>
            <string>{525,525}</string>
        </dict>
        <key>effect/skill_effect/1/attack1/19.png</key>
        <dict>
            <key>frame</key>
            <string>{{273,857},{263,157}}</string>
            <key>offset</key>
            <string>{14,55}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{145,129},{263,157}}</string>
            <key>sourceSize</key>
            <string>{525,525}</string>
        </dict>
        <key>effect/skill_effect/1/attack1/20.png</key>
        <dict>
            <key>frame</key>
            <string>{{356,693},{195,155}}</string>
            <key>offset</key>
            <string>{48,55}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{213,130},{195,155}}</string>
            <key>sourceSize</key>
            <string>{525,525}</string>
        </dict>
        <key>effect/skill_effect/1/attack1/21.png</key>
        <dict>
            <key>frame</key>
            <string>{{540,852},{145,155}}</string>
            <key>offset</key>
            <string>{73,54}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{263,131},{145,155}}</string>
            <key>sourceSize</key>
            <string>{525,525}</string>
        </dict>
        <key>effect/skill_effect/1/attack1/22.png</key>
        <dict>
            <key>frame</key>
            <string>{{555,693},{125,151}}</string>
            <key>offset</key>
            <string>{69,53}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{269,134},{125,151}}</string>
            <key>sourceSize</key>
            <string>{525,525}</string>
        </dict>
        <key>effect/skill_effect/1/attack1/5.png</key>
        <dict>
            <key>frame</key>
            <string>{{684,693},{335,137}}</string>
            <key>offset</key>
            <string>{-15,77}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{80,117},{335,137}}</string>
            <key>sourceSize</key>
            <string>{525,525}</string>
        </dict>
        <key>effect/skill_effect/1/attack1/23.png</key>
        <dict>
            <key>frame</key>
            <string>{{887,2},{73,129}}</string>
            <key>offset</key>
            <string>{94,54}</string>
            <key>rotated</key>
            <true/>
            <key>sourceColorRect</key>
            <string>{{320,144},{73,129}}</string>
            <key>sourceSize</key>
            <string>{525,525}</string>
        </dict>
        <key>effect/skill_effect/1/attack1/1.png</key>
        <dict>
            <key>frame</key>
            <string>{{356,852},{1,1}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{262,262},{1,1}}</string>
            <key>sourceSize</key>
            <string>{525,525}</string>
        </dict>
        <key>effect/skill_effect/1/attack1/2.png</key>
        <dict>
            <key>frame</key>
            <string>{{361,852},{1,1}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{262,262},{1,1}}</string>
            <key>sourceSize</key>
            <string>{525,525}</string>
        </dict>
        <key>effect/skill_effect/1/attack1/3.png</key>
        <dict>
            <key>frame</key>
            <string>{{366,852},{1,1}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{262,262},{1,1}}</string>
            <key>sourceSize</key>
            <string>{525,525}</string>
        </dict>
        <key>effect/skill_effect/1/attack1/4.png</key>
        <dict>
            <key>frame</key>
            <string>{{371,852},{1,1}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{262,262},{1,1}}</string>
            <key>sourceSize</key>
            <string>{525,525}</string>
        </dict>
        <key>effect/skill_effect/1/attack1/24.png</key>
        <dict>
            <key>frame</key>
            <string>{{376,852},{3,1}}</string>
            <key>offset</key>
            <string>{59,118}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{320,144},{3,1}}</string>
            <key>sourceSize</key>
            <string>{525,525}</string>
        </dict>
        <key>effect/skill_effect/1/attack1/25.png</key>
        <dict>
            <key>frame</key>
            <string>{{383,852},{1,1}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{262,262},{1,1}}</string>
            <key>sourceSize</key>
            <string>{525,525}</string>
        </dict>
        <key>effect/skill_effect/1/attack1/26.png</key>
        <dict>
            <key>frame</key>
            <string>{{388,852},{1,1}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{262,262},{1,1}}</string>
            <key>sourceSize</key>
            <string>{525,525}</string>
        </dict>
    </dict>
    <key>metadata</key>
    <dict>
        <key>format</key>
        <integer>2</integer>
        <key>realTextureFileName</key>
        <string>attack1.png</string>
        <key>size</key>
        <string>{1021,1016}</string>
        <key>smartupdate</key>
        <string>$TexturePacker:SmartUpdate:65f48effece6ef6bd2a01fa64940d417$</string>
        <key>textureFileName</key>
        <string>attack1.png</string>
    </dict>
</dict>
</plist>